main{

    background-image: url(istockphoto-1294521676-612x612.jpg);
}
.ipf{

float: left;

}

.palabras{

   background-color: black;
   opacity: 0.8;
   padding: 5px;
      
}
.imagen{
margin: 20px;
margin-left: 160px;
margin-right: 160px;
padding: 2px;
background-color: black;
opacity: 0.8;
}
header{

    background-image: url(informatica01-1655178280.webp);
}